
# Build outputs and dependencies
node_modules/
build/
dist/
bin/
obj/
target/
.vs/
.idea/
.vscode/
venv/
.venv/
__pycache__/
*.pyc
*.exe
*.iso
*.vhd
*.vhdx
*.sys
*.dll
*.pdb
*.o
*.a
*.so
*.class
*.zip
*.tar.gz
*.7z
